.wpOption {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
}

.wpOption:hover {
    background-color: #cccccc;
    color: black;
    cursor: pointer;
}

.wpOption.chosen-correct {
    background-color: #21ba45;
    color: white;
    cursor: default;
}

.wpOption.chosen-incorrect {
    background-color: rgb(209, 41, 41);
    color: white;
    cursor: default;
}